@model IEnumerable<POClubs.Models.GroupMember>
@{
    ViewData["Title"] = "Group Member";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>

<body>
    <p>
        <a asp-action="Create">Create New Group</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.DateJoined)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateLeft)
                </th>
                <th>Name</th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistIdGroupNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtistIdMemberNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateJoined)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLeft)
                    </td>
                    <td>
                        @String.Format("{0} {1}", item.ArtistIdGroupNavigation.NameAddress.FirstName,
                    item.ArtistIdGroupNavigation.NameAddress.LastName).Trim()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistIdGroupNavigation.ArtistId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistIdMemberNavigation.ArtistId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a href="~/POArtist/Index">Back to Artist List</a>
    </p>
</body>

</html>
